
@keyframes giratorio{
              from{
                            transform: rotate(0deg);
              }
              to{
                            transform: rotate(360deg);
              }
              
}


.barras{
              
}


.barras:hover{

              animation-name: giratorio;
              animation-duration: 3s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
}