
html, body{

              padding: 10px;
              margin: 0;
              background-color: rgb(81, 26, 157);
              text-align: center;
              justify-content: center;

}


.one,.five,.two,.three,.six{

              background-color: rgb(255, 255, 255,.8);

             
}

h2{
              margin-top: 4rem;
}

.contenedor{ 

              display: flex;
              justify-content: center;

              flex-wrap: wrap;

              padding: 1rem;


}
.one {
              background:rgb(15, 29, 67);
              height: 2rem;


}
.two {
              
              background: gray;
              height: 5rem;
              font-size: 20px;
}
.three {
              grid-column: 1;
              grid-row: 1 ;

              margin-top: 11rem;
              margin-left: 1rem;

}
.four {
              grid-column: 1;
              grid-row: 2/3;

              height: 30rem;

              margin-top: 7rem;

}
.six {
              
              display: flex;
              justify-content: center;

              flex-wrap: wrap;

              background-color:gray;

              

}

a{
              height: 3rem;
              width: 5rem;
}

.musica2{

              
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 10px;
              grid-auto-rows: minmax(100px, auto);


              width: 55rem;
}

.musica{

              width: 41rem;

              padding: 2rem;
              margin-left: 6rem;
              background: rgb(255, 255, 255,.5);
}

.inst{

              grid-column: 1;
              grid-row: 1;
}

.hobbie{
              font-size: 20px;
}

.body{
              
              width: 30rem;
              display: grid;
              height: 50rem;


              grid-template-columns: repeat(3, 1fr);
              grid-gap: 10px;
              grid-auto-rows: minmax(100px, auto);

              background-color: rgb(255, 255, 255,.5);


}

nav{
              background-color: gray;
              height: 4rem;
              font-size: 50px;
              padding: 1rem;

              justify-content: center;

              width: 155rem;
              font-family:fantasy
}

.info{
              margin-left: 2rem;
              margin-right:2rem ;
}

.circulo{
              border: solid black;

              margin-top: 5rem;

              width: 20rem;
              height: 20rem;
              display: inline-block;

              border-radius: 50%;

              
              background: url(../ncs.png);
              background-repeat: no-repeat;
              background-attachment:local;
              
}

nav:hover{
z-index: 2;
              -webkit-transition: all 200ms ease-in;
              -webkit-transform: scale(1.009);
              -ms-transition: all 200ms ease-in;
              -ms-transform: scale(1.3);
              -moz-transition: all 200ms ease-in;
              -moz-transform: scale(1.2);

              color: rgb(12, 23, 182);
}


.au{
              display: inline-block;
}
