

*{
              
              color: #000000;
              text-align: center;
              margin:0;
              padding:0;
}


html, body{
              background-color: #00506b;
}

section{

              border: solid 2px rgb(3, 1, 1);
              font-size: 20px;
              

}

.sub_large{
              width: 70rem;
              height: 90rem;
              border: solid 2px rgb(3, 1, 1);
}

.large_cont{
              display:inline-block;
}

.large{

              height: 60rem;
              width: 30rem;
              border: solid 2px rgb(3, 1, 1);

}

div{
              width: 40%;
              display:inline-block;
              height: 300px;
}

.sup_large{
              width: 70rem;
              height: 24rem;
              margin-left: 3rem;
              border: solid 2px rgb(3, 1, 1);
}

.left_large{
              border: solid 2px rgb(3, 1, 1);

}

