
body, html{
              background-color: rgb(31, 111, 153);
}

.one,.five,.two,.three,.four,.six, .cero{
              background-color: rgb(91, 50, 116, 0.5);
              
}

.wrapper {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 30px;
              grid-auto-rows: minmax(100px, auto);
              padding: 2em;
}

.cero{
              grid-column: 1 / 6 ;
              grid-row: 1 / 1;
}

.one {
              grid-column: 1 / 2 ;
              grid-row: 2 / 7;
              margin-left: 35px;

              width: 30rem;
}
.two {
              grid-column: 2 / 3;
              grid-row: 2/ 3;
              width: 51rem;
              

              margin-left: 0px;
}
.three {
              grid-column: 2 / 3;
              grid-row: 3/ 7 ;
}

.four {
              grid-column: 3 / 4;
              grid-row: 2/3;
              height: 20rem;

              width: 40rem;
}
.five {
              grid-column: 3/4;
              grid-row: 4/5;
              height: 22rem;
              width: 22rem;
              border-radius: 50%;
              margin-left: 10rem;
}