
body, html{

              background: url(../fondo.jpg);
              background-repeat: no-repeat;
              background-attachment:local;
}

.contenedor{
              border: 4px solid black;
              display: flex;
              justify-content: center;
}

.menu{
              border: 4px solid white;
              padding: 1rem;
}