@keyframes colores{
              from{
                            border: rgb(137, 11, 153) 9px solid
              }
              to{
                            
                            border: rgb(160, 13, 13) 9px solid
              }
}

.fondo-foto{

              animation-name: colores;
              animation-duration: 4s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
}



